@media screen and (max-width: 923px) and (min-width: 776px) {
    #profile-pic {
        max-width: 23rem;
    }

    .about-pic {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 891px) {
    .border {
        margin-left: 2rem;
        max-width: 36rem;
    }

    .tech-p {
        text-align: left;
    }

    .tech-subhead {
        margin: 3% 0;
    }

    .tech-col {
        width: 50%;
    }
}

@media screen and (max-width: 890px) {
    #tech-pic {
       width: 100%;
       height: 50%;
    }

    .inline-flex {
        flex-wrap: wrap;
    }

    #tech-blurb {
        justify-content: center;
    }

    .tech-p {
        text-align: center;
        margin: 0 15% 5% 15%;
    }

    .tech-subhead {
        width: 15rem;
        margin-left: 10%;
        margin-bottom: 0.5rem;
    }

    .tech-col {
        width: 30%;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 776px) {
    #bio {
        max-width: 34rem;
    }
}

@media screen and (max-width: 775px) {

    .me {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    .about-pic {
        width: 30rem;
    }

    #bio {
        width: 80%;
    }
}
