@import './timeline.css';
@import './media-queries/timeline-onesided.css';
@import './media-queries/sizing.css';

/* GENERIC STYLING ACROSS ALL DEVICES AND SCREEN SIZES */

html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif;
    color: #273C2C;
    font-weight: 400;
    background-color: #FEFDFF;
}

small {
    margin: 0 5%;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: center;
}

.green {
    background-color: #273C2C;
    color: #FEFDFF;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.inline-flex {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

p, h3 {
    margin-bottom: 1rem;
    text-align: justify;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.75rem;
    padding-top: 5vh;
    margin-top: 0;
    margin-bottom: 7vh;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    font-weight: 400;
}


/* NAVBAR */

nav {
    background-color: #273C2C;
    z-index: 100;
    opacity: 80%;
    position: fixed;
    width: 100vw;
    border-bottom: 1px #E8E6E7 solid;
    top: 0;
    left: 0;
}

.nav-link {
    padding: 0.5vh;
    display: flex;
    justify-content: space-evenly;
}

.nav-link-li {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    color: #FEFDFF;
}

.nav-link-li:hover {
    color: #E04000;
}

.bars {
    text-align: right;
    color: white;
    margin: 0.5rem;
}

.mob-li {
    line-height: 1.8;
}


/* COVER */

#cover-container {
    max-height: 100vh;
}

#cover-pic {
    width: 100vw;
    object-fit: cover;
    position: relative;
}

.cover {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #F4F3F7;
}

.name {
    max-width: 90%;
    bottom: 35vh;
}

.arrow-flex {
    bottom: 5vh;
    display: flex;
    justify-content: center;
}

.arrow {
    bottom: 5vh;
    height: auto;
    cursor: pointer;
}

.pulse {
    animation: pulse-animation 2s infinite ease-in-out;
  }

  @keyframes pulse-animation {
    0% { transform: scale(0.9); opacity: 0.8; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.8; }
  }

.subheader {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
}

.scroll {
    position: absolute;
    bottom: 28vh;
}


/* INTRO */

#intro {
    margin-top: 0;
    background-color: #E8E7EE;
    color: #3A3E3B;
}

#intro-cont {
    display: flex;
    justify-content: center;
    margin: 0vh 10vw 1vh 10vw;
}

#intro-head {
    padding-top: 1.5rem;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.08rem;
    font-weight: 500;
    max-width: 65rem;
}

#intro-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0vh 10vw;
    padding-bottom: 1vw;
}

.max-size {
    max-width: 65rem;
    text-align: center;
}

.icon-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

/* ABOUT  */

.right-align {
    text-align: right;
}

#profile-pic {
    max-height: 35rem;
    margin: 3vh 0;
    border-radius: 1%;
}

#size-limit {
    display: flex;
    align-items: flex-end;
}

#bio {
    line-height: 1.5;
}

.about-pic {
    width: auto;
}

#about {
    background-color: #FEFDFF;
    color: #273C2C;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
}

.me {
    max-width: 70rem;
    align-self: center;
}

/* TECH STACK */

.full {
    width: 100%;
}

#tech-blurb {
display: flex;
width: 100%;
height: 100%;
justify-content: flex-end;
align-items: center;
}

#tech-head {
    margin-bottom: 2.5rem;
    margin-right: 0rem;
}

#tech-pic {
    min-width: 50vw;
    max-width: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tech-flex {
    display: inline-flex;
    width: 100%;
}

.tech-col {
    max-width: 300px;
}

.tech-subhead {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15rem;
    display: block;
}

.border {
    margin-bottom: 1rem;
}

li {
    list-style-type: square;
    line-height: 1.4rem;
}

/* PROJECTS */

#projects {
      color: #3A3E3B;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    border-radius: 1%;
}

.project-img {
    max-height: 25rem;
    align-self: center;
    filter: drop-shadow(0 0 0.2rem #ced4da)
}

.project-cont {
    width: 100%;
    align-items: center;
}

.project-img-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #273C2C;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
    box-shadow: 5px 5px 15px #ced4da;
}

#accountabee {
    border-radius: 8%;
}

.project-title {
    text-align: center;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    margin: 0.5rem 0rem 2rem 0rem;
}

.project-text {
    background-color: #FFF;
    color: #3A3E3B;
}

.project-description {
    padding-bottom: 1rem;
    text-align: justify;
}

.white {
    padding: 2rem;
}

.tech {
    padding-bottom: 1rem;
}

.tech::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 35%;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid #273C2C;
}

.project-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15rem;
    padding: 0.5vh;
    border-top: 1px #273C2C solid;
    border-bottom: 1px #273C2C solid;
}

.project-link:hover {
    color: #FFF;
    background-color: #273C2C;
    border-radius: 5%;
}

/* CONTACT IMAGES */

#contact-links {
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.contact-icon {
    align-self: center;
    margin: 0.5rem 0.75rem;
}

.contact-icon:hover {
    color: #E04000;
}

/* FOOTER */

#hello {
    z-index: 100;
}

footer {
    z-index: 100;
    text-align: center;
    padding: 0.5rem 0rem;
}

