
/* GENERIC */

html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif;
    color: #1F4034;
    font-weight: 400;
    background-color: #FEFDFF;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.green {
    background-color: #1F4034;
    color: #FEFDFF;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    justify-content: center;
}

.inline-flex {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

p, h3 {
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.75rem;
    font-size: 2.5rem;
    /* margin-right: 5vw; */
    padding-top: 5vh;
    margin-top: 0;
    margin-bottom: 7vh;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
    font-weight: 400;
}


/* NAVBAR */

nav {
    background-color: #1F4034;
    border-bottom: 1px #E8E6E7 solid;
    z-index: 100;
    opacity: 80%;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav-link {
    padding: 0.5vh;
    display: flex;
    justify-content: space-evenly;
}

.nav-link-li {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    color: #FEFDFF;
}

.nav-link-li:hover {
    color: #ff5400;
}

.active {
    color: #ff5400;
}

/* COVER */

#cover-container {
    max-height: 100vh;
}

#cover-pic {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.cover {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FEFDFF;
}

.name {
    bottom: 35vh;
}

.icons {
    bottom: 27vh;
}

.arrow-flex {
    bottom: 5vh;
    display: flex;
    justify-content: center;
}

.arrow {
    bottom: 5vh;
    width: 6rem;
    height: auto;
    cursor: pointer;
}

.pulse {
    animation: pulse-animation 2s infinite ease-in-out;
  }

  @keyframes pulse-animation {
    0% { transform: scale(0.9); opacity: 0.8; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.8; }
  }

.subheader {
    bottom: 33vh;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
}

.scroll {
    position: absolute;
    bottom: 28vh;
}


/* INTRO */

#intro {
    margin-top: 0;
    background-color: #E8E6E7;
    color:  #1F4034;
}

#intro-cont {
    display: flex;
    justify-content: center;
    margin: 0vh 10vw 1vh 10vw;
}

#intro-head {
    padding-top: 1.5rem;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.08rem;
    font-weight: 500;
    max-width: 65rem;
}

#intro-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0vh 10vw;
    padding-bottom: 1vw;
}

.max-size {
    max-width: 65rem;
    text-align: center;
}

.intro-icon {
    padding: 1rem;
}

.small {
    font-size: 3.5rem;
    height: 4rem;
}

.icon-flex {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

/* ABOUT  */

.right-align {
    text-align: right;
}

#profile-pic {
    height: auto;
    max-height: 35rem;
    margin: 3vh 0;
    border-radius: 1%;
}

#bio {
    max-width: 34rem;
    margin: 0 3vw;
    line-height: 1.5;
}

#about {
    background-color: #FEFDFF;
    color: #1F4034;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
}

.me {
    max-width: 70rem;
    align-self: center;
}

/* TECH STACK */

.full {
    width: 100vw;
}

#tech-blurb {
display: flex;
width: 100%;
height: 100%;
justify-content: flex-end;
align-items: center;
}

.border {
    margin-left: 2rem;
    max-width: 36rem;
}

#tech-head {
    margin-bottom: 2.5rem;
    margin-right: 0rem;
}

#tech-pic {
    min-width: 50vw;
    max-width: 1000px;
    min-height: 48rem;
    background: url(../media/Bridge.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tech-flex {
    display: flex;
    justify-content: center;
}

.tech-p {
    margin-right: 2rem;
    text-align: left;
}

.tech-col {
    width: 50%;
    max-width: 300px;
    margin-left: 1rem;
}

.tech-subhead {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15rem;
    display: block;
    margin: 3% 0;
}

.top {
    margin-top: 5%;
}

li {
    list-style-type: square;
    line-height: 1.4rem;
}

/* PROJECTS */

#projects {
    background-color: #E8E6E7;
    color: #1F4034;
}

.project {
    padding: 3vw 5vw;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    align-self: center;
}

.project-img {
    max-width: 30rem;
    max-height: 30rem;
}

.project-img-box {
    width: 30rem;
    text-align: center;
    margin-right: 2rem;
    max-height: 35rem;
}

.project-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    margin: 0rem 0rem 1rem 0rem;
}

.project-text {
    max-width: 30rem;
}

.project-description {
    padding-bottom: 1rem;
    text-align: justify;
}

.white {
    padding: 2rem;
    margin-left: 2.5rem;
    background-color: #FEFDFF;
    box-shadow: 5px 5px 10px #ced4da;
}

.tech {
    padding-bottom: 1rem;
}

.project-link {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
    margin: 0vh 4vw;
    padding: 0.5vh 0vh;
    border-top: 1px #1F4034 solid;
    border-bottom: 1px #1F4034 solid;
}

.project-link:hover {
    color: #ff5400;
}

/* CONTACT IMAGES */

#contact-links {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.contact-icon {
    font-size: 2.3rem;
    align-self: center;
    margin-right: 1.5rem;
}

.contact-icon:hover {
    color: #ff5400;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 0.5rem 0rem;
}

