/* EXPERIENCE TIMELINE */

/* CONSISTENT STYLES FOR ALL SIZES */
#experience {
    background-image: radial-gradient(currentColor 1.5px, transparent 1.5px), radial-gradient(currentColor 1.5px, transparent 1.5px);
    background-size: calc(20 * 1.5px) calc(20 * 1.5px);
    background-position: 0 0, calc(10 * 1.5px) calc(10 * 1.5px);
    color: #E8E7EE;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0 2rem 0;
}

.align-timeline-box {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    margin-right: 2.5rem;
    position: relative;
    margin: 0.75rem 0;
    width: 50%;
    transform-style: preserve-3d;
}

.timeline-box {
    margin: 0.5rem 3rem;
    padding: 0.5rem 1rem;
    width: 70%;
    max-width: 50rem;
    background-color: #FFF;
    color: #273C2C;
    box-shadow: 2px 2px 5px #291528;
}

.date-box {
    width: 8rem;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
    color: #273C2C;
    position: absolute;
    right: -8rem;
    top: 2rem;
}

.timeline-box .circle {
    background-color: #fff;
    border: 3px solid #273C2C;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    width: 3rem;
    height: 3rem;
    z-index: 2;
}

.green-text {
    color: #273C2C;
}

#exp-head {
    margin-bottom: 3rem;
}

.exp-icon {
    font-size: 2rem;
    position: absolute;
    z-index: 2;
    top: 1.7rem;
}

.cap {
    right: 1.63rem;
    color: #9E829C;
}

.briefcase {
    color: #777E78;
    right: 1.92rem;
}

.exp-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    text-align: left;
    align-self: center;
}

.exp-subhead {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    align-self: flex-end;
}

.exp-details-button {
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.exp-arrow {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0.75rem 0rem 0.75rem;
    align-self: flex-end;
}

.what-where {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.city {
    font-size: 0.8rem;
    margin-top: 0;
}

.exp-logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 0.5rem;
}

.company {
    font-weight: 500;
    margin-top: 0.25rem;
    margin-bottom: 0;
    text-align: left;
}

.exp-ul li {
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
}


/* STYLES FOR DOUBLE-SIDED TIMELINE ONLY */

@media screen and (min-width: 1101px) {
    .timeline-container::before {
        background-color: #273C2C;
        content: '';
        position: absolute;
        left: calc(50% - 2px);
        width: 4px;
        height: 100%;
        margin-top: 1.75rem;
    }

    .timeline-box::after {
        content: '';
        background-color: #FFF;
        box-shadow: 1px -1px 1px #291528;
        position: absolute;
        right: 5.5rem;
        top: 2.3rem;
        transform: rotate(45deg);
        width: 1rem;
        height: 1rem;
    }

    .align-timeline-box:nth-child(odd) {
        align-self: flex-end;
        justify-content: flex-start;
        padding-left: 3rem;
        padding-right: 0;
    }

    .align-timeline-box:nth-child(odd) .timeline-box::after {
        right: auto;
        left: 5.5rem;
        box-shadow: 0px 0px 0px #291528;
        border-left: 1px #D6D5D7 solid;
        border-bottom: 1px #D6D5D7 solid;
    }

    .align-timeline-box:nth-child(odd) .date-box {
        left: -6.5rem;
    }

    .align-timeline-box:nth-child(odd) .timeline-box .circle {
        left: 1.25rem;
    }

    .align-timeline-box:nth-child(odd) .timeline-box .briefcase {
        left: 1.96rem;
    }

    .align-timeline-box:nth-child(odd) .timeline-box .cap {
        left: 1.75rem;
    }
}
