
/* GENERIC */

html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-bottom: 5rem;
}

.blue {
    background-color: #17255a;
    color: #FEFDFF;
    width: 100%;
}

/* main {
    padding: 0% 5%;
}

@media all and (min-width: 1350px) {
    main {
        padding: 0% 15%;
    }
} */

.flex {
    display: inline-flex;
    align-content: center;
}

p, h3 {
    margin-bottom: 2rem;
    line-height: 1.5;
}

h2 {
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
    font-weight: 400;
}


/* NAVBAR */

li {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
    list-style: none;
    cursor: pointer;
    color: #FEFDFF;
}

ul {
    padding: 0.5vh 0;
    display: flex;
    justify-content: space-evenly;
}

.active, li:hover {
    color: #ff6700;
}

nav {
    background-color: #17255a;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


/* ABOUT  */

header {
    margin-top: 12vh;
}

h1 {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.75rem;
    font-size: 2.5rem;
    margin-right: 5vw;
    margin-bottom: 7vh;
}

#profile-pic {
    height: auto;
    max-height: 35rem;
    margin-left: 5vw;
    border-radius: 1%;
}

#bio {
    margin: 0 3vw;
    line-height: 1.5;
}

#about {
    background-color: #FEFDFF;
    color: #17255a;
}


/* PROJECTS */

#project-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-img {
    max-width: 30vw;
    max-height: 30vh;
}


/* CONTACT  */

.middle {
    width: 100vw;
    margin-top: 1rem;
    justify-content: center;
}

#contact-blurb {
    width: 60vw;
}

#contact-links {
    height: 100%;
    align-self: center;
}

.logo {
    max-width: 2.5rem;
    align-self: center;
    margin-right: 1.5rem;
}

/* footer */

footer {
    text-align: center;
    padding: 0.5rem 0rem;
}
