
/* GENERIC */

html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif;
    color: #17255a;
    background-color: #FEFDFF;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.blue {
    background-color: #17255a;
    color: #FEFDFF;
    width: 100%;
    padding-top: 0.83rem;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-content: center;
}

p, h3 {
    margin-bottom: 2rem;
    line-height: 1.5;
}

h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
    font-weight: 400;
}


/* NAVBAR */

li {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
    list-style: none;
    cursor: pointer;
    color: #FEFDFF;
}

ul {
    padding: 0.5vh 0;
    display: flex;
    justify-content: space-evenly;
}

.active, li:hover {
    color: #ff5400;
}

nav {
    background-color: #17255a;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/* COVER */

#about-container {
    max-height: 100vh;
}

#cover-pic {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    max-height: 100vh;
    position: relative;
}

.cover {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FEFDFF;
}

.name {
    top: 25vh;
}

.subheader {
    top: 33vh;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
}



/* ABOUT  */

header {
    margin-top: 12vh;
}

h1 {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.75rem;
    font-size: 2.5rem;
    margin-right: 5vw;
    margin-bottom: 7vh;
}

#profile-pic {
    height: auto;
    max-height: 35rem;
    margin-left: 5vw;
    margin-bottom: 5vw;
    border-radius: 1%;
}

#bio {
    margin: 0 3vw;
    line-height: 1.5;
}

#about {
    background-color: #FEFDFF;
    color: #17255a;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.me {
    max-width: 70rem;
}


/* PROJECTS */

.project {
    padding: 3vw 5vw;
    display: flex;
    align-items: center;
    align-self: center;
}

.project-img {
    max-width: 25rem;
    margin-right: 2rem;
}

.project-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    margin: 0rem 0rem 1rem 0rem;
}

.project-text {
    max-width: 30rem;
}

.project-link {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.15rem;
    color: #FEFDFF;
    margin: 0vw 4vw;
}

.project-flex {
    display: flex;
    justify-content: center;
}

/* span:hover {
    color: #ff5400;
} */

/* CONTACT  */

.middle {
    width: 100vw;
    margin-top: 1rem;
    justify-content: center;
}

#contact-blurb {
    width: 50vw;
    margin-right: 5vw;
}

#contact-links {
    height: 100%;
    align-self: center;
}

.logo {
    max-width: 2.5rem;
    align-self: center;
    margin-right: 1.5rem;
}

/* footer */

footer {
    text-align: center;
    padding: 0.25rem 0rem;
}

#hello {
    padding-bottom: 2rem;
}
